body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p{
    color: red;
    margin-left: 5%;
}

.corp{
    color: yellow;
}

h1{
    text-align: center;
}